body {
 background-color: black;
 color: #000000}
p {
 text-align: center; color: #FFFFFF
}
h1 {
 text-align: Center; color: #FFFFFF
     }
h2 {
 text-align: Center; color: #FFFFFF
     }
h3 {
 text-align: Center; color: #FFFFFF